* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
}

.header {
    background-color: #FEC260;
    width: 100%;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}

.header h1 {
    font-size: 1rem;
}

.content {
    width: 100vw;
    height: 94vh;
    display: flex;
}

.content .sidebar {
    width: 20%;
    height: 100%;
    background-color: #A10035;
}

.content .sidebar .icon {
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ddd;
}

.content .sidebar .icon h1 {
    font-size: 3em;
    padding-right: 15px;
}

.content .sidebar .side-links {
    height: 60vh;
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.content .sidebar .side-links a {
    width: 100%;
    padding: 13px;
    transition: .3s;
}

/* .content .sidebar .side-links a::before {
    content: '';
    border-left: 4px solid #2A0944;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
} */

.content .sidebar .side-links a:hover {
    background-color: #2A0944;
}

.content .sidebar .side-links .first {
    text-decoration: none;
    color: #ddd;
    position: absolute;
    font-size: 1em;
}

.content .sidebar .side-links .first {
    text-decoration: none;
    top:  5%;
    left: 0;
    right: 0;
    color: #ddd;
    position: absolute;
    font-size: 1em;
}

.content .sidebar .side-links .second {
    text-decoration: none;
    top: 15%;
    left: 0;
    right: 0;
    color: #ddd;
    position: absolute;
    font-size: 1em;
}

.content .sidebar .side-links .third {
    text-decoration: none;
    top: 25%;
    left: 0;
    right: 0;
    color: #ddd;
    position: absolute;
    font-size: 1em;
}

.content .sidebar .side-links .fourth {
    text-decoration: none;
    top: 35%;
    left: 0;
    color: #ddd;
    position: absolute;
    font-size: 1em;
}

.content .sidebar .side-links .fifth {
    text-decoration: none;
    top: 45%;
    left: 0;
    color: #ddd;
    position: absolute;
    font-size: 1em;
}

.content .sidebar .side-links .sixth {
    text-decoration: none;
    top: 55%;
    left: 0;
    color: #ddd;
    position: absolute;
    font-size: 1em;
}

.content .main {
    width: 100%;
}

.content .main .links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    font-size: 1em;
    height: 5vh;
    width: 100%;
    background-color: #2A0944;
    position: relative;
}

.content .main .links .first {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding:10px;
    text-decoration: none;
    color: #ddd;
    transition: .3s;
}

.content .main .links .second {
    position: absolute;
    top: 0;
    left: 7.5%;
    bottom: 0;
    padding:10px;
    text-decoration: none;
    color: #ddd;
    transition: .3s;
}

.content .main .links .third {
    position: absolute;
    top: 0;
    left: 16.8%;
    bottom: 0;
    padding:10px;
    text-decoration: none;
    color: #ddd;
    transition: .3s;
}

.content .main .links .fourth {
    position: absolute;
    top: 0;
    left: 24.8%;
    bottom: 0;
    padding:10px;
    text-decoration: none;
    color: #ddd;
    transition: .3s;
}

.content .main .links a:hover {
    background-color: #3FA796;
}

.content .sidebar .side-links a.selected {
    background-color: #2A0944;
}